

/* Basic settings for desktop */
:root {
  --light-color: #f4f4f4;
  --danger-color: #dc3545;

}


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}


body {
  background-color: rgb(235, 227, 212);
  overflow-x: hidden;
  
  
}

nav {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 0 4vw;
  background-color: rgba(235, 227, 212, 1);
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 45vw;
  list-style: none;
}

.nav-links a {
  list-style: none;
  color: rgb(4, 20, 255);
font-size: 1.2rem;
text-decoration: none !important;
text-decoration-style: none;
}

.nav-links a {
  list-style: none;
  color: rgb(4, 20, 255);
font-size: 1.2rem;
text-decoration: none !important;
text-decoration-style: none;
}



.logo {
  list-style: none;
  width: auto;
}

.logo a {
  text-decoration: none;
  font-size: 1.6rem;
  color: rgb(4, 20, 255);
}

.language-settings {
  display: flex;
  width: auto;
}

.language-settings i {
  color: rgb(4, 20, 255);
  margin: 0 0 0 2vw;
}

.language-settings button {
  background-color: rgb(235, 227, 212);
  font-weight: 400;
  font-size: 0.8rem;
  width: 90px;
  align-self: center;
  margin: 0 2vw;
}

.burger {
  display: none;
  cursor: pointer;
  
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(4, 20, 255);
  margin: 5px;
  transition: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}



.alert-danger {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  top: 8vh;
  
  margin: 1rem 0;
  opacity: 0.9;
  background-color: var(--danger-color);
  color: #fff;
}

.alert-danger i {
  margin-right: 5px;
}

footer {
  display: flex;
  z-index: 2;
  background-color: rgba(235, 227, 212, 1);
  font-size: 1.1rem;
  justify-content: center;
  position: fixed;
  height: 4vh;
  bottom: 0;
  width: 100vw;
  color: rgb(4, 20, 255);
  
}


/*  Home page styles Desktop */ 

.content {
  margin-top: 10vh;
  height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.primary {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15vh;
      
  
}

.primary h1 {
  font-weight: 400;
  margin-left: 2vw;
  margin-bottom: 3vh;
}

.select-css {
  background-color: rgb(235, 227, 212);
  font-size: 0.9rem;
  font-weight: 500;
  
}

.botoes {
  overflow-y: hidden;
}

.botoes label {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 1vw;
}

.primary button {
  width: 90px;
  background-color: rgb(235, 227, 212);
  margin-left: 1vw;
}




.select-css:focus {
outline: none;
}

.random-search {
  display: flex;
  flex-direction: column;
}

.random-search button{
  background-color: rgb(235, 227, 212);
  font-weight: 400;
  font-size: 0.8rem;
  width: 90px;
  align-self: center;
}

.random-search button:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(235, 227, 212);
}



.random-search h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2vh;
}

.fa-random {
  margin-left: 2%;
}

/* About page Styles */
.about {
  margin-top: 4vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  padding: 8vw;
  text-align: justify;
  margin-bottom: 4vh;
}

.about h1 {
  align-self: flex-start;
  text-align: left;
}

.about a {
  text-decoration: none;
  color: #fd0008;
}



.icons {
  margin-bottom: 15vh;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  height: 5vh;
  width: 100vw;
  color: red;
}

.icons a {
  color: black
}

.icons a:hover {
  color: #555;
}

.icons i {
  margin: 0 2vw;
}

.footer-note {
  display: flex;
  justify-items: flex-start;
  flex-direction: row;
  width: 100%;
  margin-bottom: 8vh;
}



.footer-note img {
  width: 150px;
}



.footer-note .primary {
  display: flex;
  align-items: flex-start;
  font-size: 0.9rem;
  margin: 0.5vh 0.5vw 0 0;
}

.footer-note .secondary {
  display: flex;
  align-items: flex-start;
  font-size: 0.9rem;
  margin: 0.5vh 0.5vw 0 0;
}

/* Movie List Styles */
.movie-page {
  width: 100vw;
  margin-top: 10vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

.movie-page h1 {
  padding: 0 4vw;
  
}


.movie-page button {
  font-size: 16px;
  padding: 4px;
  width: 300px;
  height: auto;
  z-index: 1;
  margin: 0vh 4vw 5vh 4vw;
  background-color: rgb(235, 227, 212);
}

.movie-list {
  
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 2vh;
}

.movie-item {
  border-radius: 16px;
  box-shadow:
0 0.8px 3.1px rgba(0, 0, 0, 0.081),
0 2.1px 7.9px rgba(0, 0, 0, 0.115),
0 4.3px 16.1px rgba(0, 0, 0, 0.145),
0 8.8px 33.2px rgba(0, 0, 0, 0.179),
0 24px 91px rgba(0, 0, 0, 0.26)
;

  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  height: 680px;
  width: 310px;
  margin: 4vh 1.2vw 2vh;

}

.movie-item p {
  margin-top: -5px;
  height: 200px;
  overflow-y: hidden;
}

.movie-item h4 {
  position: relative;
}
.movie-item h3, h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: -5px;

}

.movie-item h2  {
  margin-top: 8px;
  align-self: center;
}


.thin {
  font-size: 1.1rem;
  font-weight: 400; 
}

.movie-item img {
  width: 229,5px;
  height: 340px;
  align-self: center;
}

.movie-list-details {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 2vh;
}

.movie-item-details {
  border-radius: 16px;
  box-shadow:
0 1.7px 3.7px rgba(0, 0, 0, 0.065),
0 4px 9px rgba(0, 0, 0, 0.093),
0 7.5px 16.9px rgba(0, 0, 0, 0.115),
0 13.4px 30.2px rgba(0, 0, 0, 0.137),
0 25.1px 56.4px rgba(0, 0, 0, 0.165),
0 60px 135px rgba(0, 0, 0, 0.23)
;



  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  height: auto;
  width: 70%;
  margin: 3vh 0vw 3vh 2vw;

}

.main-details {
  display: flex;
}

.main-details2 {
margin: 10px 0 0 10px;
}

.main-details2 h3 {
  margin-bottom: 10px !important; 
}

.paragraph {
  font-weight: 500;
  font-size: 1.1rem
}


.movie-item-details img {
  width: 229,5px;
  height: 340px;
  align-self: flex-start;
}

.movie-item p {
  margin-top: -5px;
  height: 100px;
  overflow-y: hidden;
}

.movie-item h4 {
  position: relative;
}
.movie-item-details h3, h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: -5px;

}

.movie-item-details h2  {
  margin-top: 24px;
  align-self: center;
  font-size: 1.7rem;
}


.extended-details {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.extended-details h4 {
  margin: 0px 10px;
  padding: 0px;
}

.try-again {
  align-self: center;
  margin-top: 3vh;
  padding: 0 2vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1.8rem;
  width: 25%;
  height: 50%;
  
}

.try-again button {
  align-self: flex-start;
  width: 80%;
  padding: 0;
  margin: 4vh 0 0 0;
  height: 30px;
}

.secondary-buttons {
  width: 100vw;
  height: auto;
  border-bottom: 4vh;
  display: flex;
  justify-content: space-around;
}








.ver-mais {
  align-self: center;
  text-decoration: underline;
  display: none;
  cursor: pointer;
}
.ver-mais:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(235, 227, 212);
}



.ver-sinopse {
  align-self: center;
  text-decoration: underline;
  display: none;
  display: block;
  cursor: pointer;
}

.ver-sinopse:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(235, 227, 212);
}

/* Responsive design for smaller screens */

@media screen and (max-width: 1140px) {
  body {
      overflow-x: hidden;
  }
  
  
  nav {
      z-index: 9999;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 8vh;
      position: fixed;
      top: 0;
      width: 100vw;
      padding: 0 4vw;
      background-color: rgba(235, 227, 212, 1);
      margin-bottom: 1vh !important;
  }

  .language-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .language-settings i {
    margin: 0 2vw;
  }
  .burger {
      display: block;
      z-index: 1;
  }

  .nav-links {
      position:absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      background-color:rgba(235, 227, 212, 1);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      justify-content: space-around !important;
      list-style: none !important;
  }
  .nav-links li {
      opacity: 1;
  }
  .logo {
    position: relative;
    width: auto;
    
}
  .logo a {
    font-size: 1.3rem;
  }
  .nav-active {
    position:absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color:rgba(235, 227, 212, 1);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(0%);
        transition: transform 0.5s ease-in;
        justify-content: space-around !important;
        list-style: none;
        
        
  }
  
  .nav-active a {
    list-style: none;
    color: rgb(4, 20, 255);
  font-size: 1.2rem;
  text-decoration: none !important;
  text-decoration-style: none;
  
  }


  .content {
      height: 88vh;
      margin-bottom: 10vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 2vw;
      overflow-y: hidden;   
      overflow-x: hidden;   
      
  }
  
  .primary {
      margin-top: 8vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 1vh;
      overflow-x: hidden;
  }

  .primary h1 {
      margin-top: 2vh;
      font-size: 1.2rem;
      font-weight: 600;
  }

  .botoes {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
  }

  .botoes label {
      font-size: 1.2rem;
      align-self: center;
  }

  .select-css {
      background-color: rgb(235, 227, 212);
      font-weight: 500;
      font-size: 1rem;
  }


  .botoes button {
      margin-top: 2vh;
      align-self: center;
  }

  .random-search h2 {
      margin-top: 3vh;
      font-size: 1.2rem;
  }

  .about h1 {
      margin-bottom: 1vh;
  }

  .about p {
      margin-bottom: 5vh;
  }

  .icons {
    height: auto;
  }

  .icons i{
    margin: 0 5vw;
}

  .footer-note {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-bottom: 4vh;
    height: auto;
    width: 100%;
}

.footer-note .primary {
    align-content: center;
    height: auto;
    width: 100%;
}

.footer-note img {
    width: 150px;
   
}

.footer-note p {
    text-align: start;
    font-size: 0.9rem;
    width: 100%;

}

  footer {
      height: 4vh;
      z-index: 9999;
      display: flex;
      background-color: rgba(235, 227, 212, 1);
      font-size: 1.1rem;
      justify-content: center;
      position: fixed;
      bottom: 0;
      width: 100vw;
      color: rgb(4, 20, 255);
      
  }

  .movie-page h1 {
      font-size: 1.3rem;
  }

  .movie-item {
      justify-content: space-evenly;
  }

  .movie-page button {
      font-size: 1rem;
      width: auto;
      align-self: center;
  }

  .movie-list-details {
      width: 100vw;
      height: auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 10vh;
  }

  

  .movie-item-details {
  
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: space-around;
      height: auto;
      width: 90vw;
      margin: 3vh 4vw;
  
  }

  .main-details {
      display: flex;
      width: 100%;
      flex-direction: column;
  }

  .movie-item-details img {
      width: 229,5px;
      height: 340px;
      align-self: center;
  }

  .extended-details {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
  }
  

  .try-again {
      align-self: center;
      margin: 3vh 3vw 0 3vw;
      align-items: center;
      padding: 0 2vw;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      font-size: 1.8rem;
      width: 100%;
      height: auto;
      
      
  }
  
  .try-again button {
      align-self: center;
      width: 40%;
      padding: 0;
      margin: 4vh 0 0 0;
  }




  .ver-sinopse {
      align-self: center;
  text-decoration: underline;
  display: block;
  cursor: pointer;
  }

  .ver-sinopse:hover {
      background-color: rgb(0, 0, 0);
  color: rgb(235, 227, 212);
  }

  .ver-mais {
      display: none;
  }

  .secondary-buttons {
      flex-direction: column;
  }

  

}



@keyframes navLinkFade {
  from {
      opacity: 0;
      transform: translateX(50px);
  }
  to {
      opacity: 1;
      transform: translateX(0px);
  }
}


button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(235, 227, 212);
}
